// Default parameters
params {
    // Inputs (user-provided)
    cancer_type = null
    vcf = null
    rpm_threshold = null

    // Reference data (project-relative)
    gtf = "${projectDir}/resources/genomic_annotation/Homo_sapiens.GRCh38.113.gtf"
    fai = "${projectDir}/resources/genomic_annotation/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai"
    mres_file = "${projectDir}/resources/microRNA_annotation/TarBasev9_with_microT_binding_sites_plus_mre_type_and_cds_utr_no_duplicates.tsv"
    mited_dir = "${projectDir}/resources/miTED"
    clinvar_vcf = "${projectDir}/resources/variants/clinvar.vcf"
    mirbase_gff = "${projectDir}/microt_cnn/hsa_miRBase_22v1_0based.gff3"
    ensembl_gtf_full = "${projectDir}/microt_cnn/Homo_sapiens.GRCh38.113.gtf"
    resources_dir = "${projectDir}/resources"
    microt_input_dir = "${projectDir}/microt_cnn"

    outdir = "${projectDir}/results"

    // Pipeline control
    lines_per_chunk = 200000
    skip_genomic_regions = false
}

// Process-specific configuration
process {
    // Default resources
    cpus = 2
    memory = '4 GB'
    time = '2 h'
    
    // Process-specific resources
    withName: FIND_GENOMIC_REGIONS {
        cpus = 8
        memory = '16 GB'
        time = '24 h'
        errorStrategy = 'retry'
        maxRetries = 1
    }
    
    withName: SELECT_MRES {
        cpus = 2
        memory = '8 GB'
        time = '1 h'
    }
    
    withName: CALCULATE_SEED_REGIONS {
        cpus = 2
        memory = '2 GB'
        time = '1 h'
    }
    
    withName: INTERSECT_VARIANTS {
        cpus = 4
        memory = '4 GB'
        time = '1 h'
    }
    
    withName: PROCESS_VCF_CHUNKS {
        cpus = 8
        memory = '16 GB'
        time = '12 h'
    }
    
    withName: CLINVAR_INTERSECTION {
        cpus = 4
        memory = '8 GB'
        time = '4 h'
    }
    
    withName: ANNOTATE_VARIANTS_MRES {
        cpus = 2
        memory = '8 GB'
        time = '4 h'
    }
    withName: PREPARE_MICROT_INPUTS {
        cpus = 4
        memory = '16 GB'
        time = '4 h'
    }
    withName: 'RUN_MICROT_CNN_.*' {
        cpus = 24
        memory = '256 GB'
        time = ' 72 h'
        container = 'penny0lane/microt_cnn:v2.2'
    }
    withName: ANALYZE_MICROT_RESULTS {
        cpus = 4
        memory = '16 GB'
        time = '2 h'
    }
    
    withName: SURVIVAL_ANALYSIS {
        cpus = 4
        memory = '16 GB'
        time = '6 h'  
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.clusterOptions = '--account=your_account'
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'theodask/vus_mirna_pipeline:1.0'
    }
    
    microt_docker {
        docker.enabled = true
        docker.runOptions = '--rm'
        process.container = 'penny0lane/microt_cnn:v2.2'
    }
}

// Report and trace options
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,memory'
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_timeline.html"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_dag.svg"
}

// Manifest
manifest {
    name = 'VUS-miRNA-Pipeline'
    author = 'Theo'
    description = 'Pipeline for identifying and characterizing VUSs in miRNA binding regions'
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=23.04.0'
}

